<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3FsaXRlLnN3aWZ0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBz
		OlwvXC9naXRodWIuY29tXC9zdGVwaGVuY2VsaXNcL1NRTGl0ZS5zd2lmdC5n
		aXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiMC4xNC4xIiwidXBwZXJCb3VuZCI6IjEu
		MC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoicGhv
		bmVudW1iZXJraXQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9c
		L2dpdGh1Yi5jb21cL21hcm1lbHJveVwvUGhvbmVOdW1iZXJLaXQuZ2l0Il19
		LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6
		W3sibG93ZXJCb3VuZCI6IjMuNS44IiwidXBwZXJCb3VuZCI6IjQuMC4wIn1d
		fX1dfV0sImRpc3BsYXlOYW1lIjoiQml0TG9jYWwiLCJwYWNrYWdlS2luZCI6
		eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRm
		b3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6
		W3sibmFtZSI6IkJpdExvY2FsIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50
		aWZpZXIiOlsiYXBwLmJpdGxvY2FsLmJpdGxvY2FsIl19LHsidGVhbUlkZW50
		aWZpZXIiOlsiNVlVTUxZQ0ZUOCJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjAu
		MSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMiJdfSx7ImlPU0FwcEluZm8iOlt7
		ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7
		InJhd1ZhbHVlIjoib3JhbmdlIn19fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFs
		dWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LnNob3BwaW5nIn0sImFwcEljb24i
		OnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6
		W3sicHVycG9zZSI6ImxvY2F0aW9uV2hlbkluVXNlIiwicHVycG9zZVN0cmlu
		ZyI6IkJpdExvY2FsIGFza3MgZm9yIHlvdXIgbG9jYXRpb24gdG8gZmluZCBi
		dXNpbmVzc2VzIG5lYXIgeW91LiBMb2NhdGlvbiBzaGFyaW5nIGlzIG5vdCBy
		ZXF1aXJlZCB0byB1c2UgQml0TG9jYWwuIn1dLCJzdXBwb3J0ZWREZXZpY2VG
		YW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VP
		cmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdo
		dCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVE
		b3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19
		fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1
		dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVw
		ZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIlNRTGl0ZSIsIlNRTGl0ZS5zd2lm
		dCIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlBob25lTnVtYmVyS2l0Iiwi
		UGhvbmVOdW1iZXJLaXQiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJTUUxpdGUiLCJTUUxpdGUu
		c3dpZnQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJQaG9uZU51bWJlcktp
		dCIsIlBob25lTnVtYmVyS2l0IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltd
		LCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1Zl
		cnNpb24iOnsiX3ZlcnNpb24iOiI1LjcuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		5BQJ6uJ0TgeavUGXC+npm0kT+ca8r6FAAKRDAFISnmE=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
