<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3FsaXRlLnN3aWZ0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBz
		OlwvXC9naXRodWIuY29tXC9zdGVwaGVuY2VsaXNcL1NRTGl0ZS5zd2lmdC5n
		aXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiMC4xNC4xIiwidXBwZXJCb3VuZCI6IjEu
		MC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiQml0TG9jYWwiLCJwYWNrYWdl
		S2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10s
		InBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9k
		dWN0cyI6W3sibmFtZSI6IkJpdExvY2FsIiwic2V0dGluZ3MiOlt7ImRpc3Bs
		YXlWZXJzaW9uIjpbIjAuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7
		InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoib3JhbmdlIn19fSwiYXBwQ2F0
		ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LnNob3Bw
		aW5nIn0sImFwcEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdW
		YWx1ZSI6ImxpZ2h0bmluZ0JvbHQifX19LCJjYXBhYmlsaXRpZXMiOlt7InB1
		cnBvc2UiOiJsb2NhdGlvbldoZW5JblVzZSIsInB1cnBvc2VTdHJpbmciOiJU
		aGlzIGFwcCBuZWVkcyB5b3VyIGxvY2F0aW9uIHRvIGZpbmQgYnVzaW5lc3Nl
		cyBsb2NhbCB0byB5b3UuIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6
		WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlv
		bnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsi
		bGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNv
		bmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0
		YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51
		bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVz
		IjpbeyJwcm9kdWN0IjpbIlNRTGl0ZSIsIlNRTGl0ZS5zd2lmdCIsbnVsbCxu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgi
		OiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhl
		Y3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9k
		dWN0IjpbIlNRTGl0ZSIsIlNRTGl0ZS5zd2lmdCIsbnVsbCxudWxsXX1dLCJl
		eGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVz
		b3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9
		XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS43LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		rIlKJBPkmkzt4ijnqtLNOPlpmv/e3Kz9gKBN4yQtO/Q=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
