<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3FsaXRlLnN3aWZ0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBz
		OlwvXC9naXRodWIuY29tXC9zdGVwaGVuY2VsaXNcL1NRTGl0ZS5zd2lmdC5n
		aXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiMC4xNC4xIiwidXBwZXJCb3VuZCI6IjEu
		MC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5IjoicGhv
		bmVudW1iZXJraXQiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9c
		L2dpdGh1Yi5jb21cL21hcm1lbHJveVwvUGhvbmVOdW1iZXJLaXQuZ2l0Il19
		LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6
		W3sibG93ZXJCb3VuZCI6IjMuNS44IiwidXBwZXJCb3VuZCI6IjQuMC4wIn1d
		fX1dfV0sImRpc3BsYXlOYW1lIjoiQml0TG9jYWwiLCJwYWNrYWdlS2luZCI6
		eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRm
		b3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6
		W3sibmFtZSI6IkJpdExvY2FsIiwic2V0dGluZ3MiOlt7ImRpc3BsYXlWZXJz
		aW9uIjpbIjAuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0Fw
		cEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNl
		dENvbG9yIjp7InJhd1ZhbHVlIjoib3JhbmdlIn19fSwiYXBwQ2F0ZWdvcnki
		OnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LnNob3BwaW5nIn0s
		ImFwcEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6eyJyYXdWYWx1ZSI6
		ImxpZ2h0bmluZ0JvbHQifX19LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2Ui
		OiJsb2NhdGlvbldoZW5JblVzZSIsInB1cnBvc2VTdHJpbmciOiJUaGlzIGFw
		cCBuZWVkcyB5b3VyIGxvY2F0aW9uIHRvIGZpbmQgYnVzaW5lc3NlcyBsb2Nh
		bCB0byB5b3UuIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQi
		LCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7
		InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNj
		YXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlv
		biI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRz
		IjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0s
		InRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJw
		cm9kdWN0IjpbIlNRTGl0ZSIsIlNRTGl0ZS5zd2lmdCIsbnVsbCxudWxsXX0s
		eyJwcm9kdWN0IjpbIlBob25lTnVtYmVyS2l0IiwiUGhvbmVOdW1iZXJLaXQi
		LG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUi
		LCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlw
		ZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6
		W3sicHJvZHVjdCI6WyJTUUxpdGUiLCJTUUxpdGUuc3dpZnQiLG51bGwsbnVs
		bF19LHsicHJvZHVjdCI6WyJQaG9uZU51bWJlcktpdCIsIlBob25lTnVtYmVy
		S2l0IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNp
		b24iOiI1LjcuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		z3QHoOhnxsFUXLJoe+3kOm2Ra1wiXkv29sABDxU46/s=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
